/*substrate - подложка*/
.filter-stop {
    position: absolute;
    left: 10.73%;
    right: 65.1%;
    top: 11.85%;
    bottom: 69.48%;
    background: #FFFFFF;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding-bottom: 10px;
    padding-top: 10px;

    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content:space-around;
}

.filter-stop .title {
    width: 192px;
    height: 20px;
    /*border: 1px solid #9ABBCE;*/

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.5px;
    color: #4A4A4A;
}

.filter-stop .unit {
    width: 192px;
    height: 20px;
    /*border: 1px solid #9ABBCE;*/

    display: flex;
    flex-direction:row;
    align-items:center;
}

.filter-stop .unit #checkbox {
    width: 20px;
    height: 20px;
    margin-right: 8px;

    border: 1px solid #9ABBCE;
    box-sizing: border-box;
    border-radius: 2px;
}

.filter-stop .unit #text {
    width: 112px;
    height: 20px;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #4A4A4A;
}
